//Colors

$white: #ffffff;
$lightgray: #F2F2F0;
$black: #000000;
$blue: #4E7DA6;
$lightblue: #BFCDD9;
$green: #A4B146;
$lightgreen: #CED979;
$red: #BF6E50;

//Font Weights

$thinweight: 100;
$extralightweight: 200;
$lightweight: 300;
$regularweight: 400;
$mediumweight:500;
$semiboldweight:600;
$boldweight:700;
$extraboldweight:800;
$blackweight:900;

//Font Sizes
$smallsize:1.2em;
$regularsize:1.2em;
$mediumsize:1.5em;
$bigsize:1.8em;